body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.principal {

}

.resultado{
  height: 400px;
  width: 1000px;
  margin:25px auto;
}

.input{
  margin-top: 25px;
  width: 1000px;
  margin: 25px auto;
}

.botao{
  text-align: center;
}

.aviso{
  text-align: center;
}

.MuiTableContainer-root{
  margin: 0 auto;
  margin-bottom: 25px;
  
}